/Debug

*.o
*.a
*~
.deps/
.libs/

/.svn/

/.autotools
/.settings/
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/config/
/stamp-h1
Makefile
Makefile.in

/.project
/.cproject
/.settings/
